* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header {
   display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1f2931;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
    
}

.navbar li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: x-large;
    color: white;
}

.navbar li a:hover {

    color: orangered;

}

.logo {
    width: 120px;
    cursor: pointer;
    margin-right: auto;
    padding: auto;
}
