* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
   display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #1f2931;
}

.navbar li {
    display: inline-block;
    padding: 0 20px;
    margin-right: 20px;
    
}

.navbar li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: x-large;
    color: white;
}

.navbar li a:hover {

    color: orangered;

}

.logo {
    width: 120px;
    cursor: pointer;
    margin-right: auto;
    padding: auto;
}

.hero {
    display: flex;
    justify-content: flex-end;
    background-color: #1f2931;
    align-items: center;

}

.me {
    width: 350px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.hero-txt h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 20px;
    margin-right: 150px;
  
}

.hero-txt p {
    font-size: 18px;
    color: #e5e7eb;
    padding-top: 30px;
}

.hero-txt button {
    background-color: #3882f6;
    margin-top: 20px;
    padding: 10px 15px;
    color: #f9faf8;
    font-size: 20px;
    border-radius: 10px;
}

.content{
    align-items: center;
}


.content h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-left: 40%;
    margin-top: 30px;
}



.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-info img {
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-top: 40px;
}

.python3 {
    width: 350px;
    margin-left: 10px;
    margin-right: 60px;
    margin-top: 5px;

}

.html5 {
    width: 250px;
    margin-right: 60px;
    margin-top: 7px;

}

.style {

    width: 143px;
    margin-top: 8px;
    margin-right: 60px;
}

.js {
    width: 170px;
    margin-top: 8px;
}

.content-info p {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}






